In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
import json
from config import api_key

In [2]:
#Happiness dataframe
Happy_df = pd.read_csv("Resources/2019.csv")
Happy_df = Happy_df.rename(columns={"Country or region" : "country"})


#countries and capital dataframe
Country_Cap_df = pd.read_csv("Resources/country-list.csv")


#Merging both data sets together
Merge_df = pd.merge(Happy_df,Country_Cap_df, on ="country")
Merge_df = Merge_df.drop(columns= "type")
Merge_df.head(10)

,Overall rank,country,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,capital
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393,Helsinki
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410,Copenhagen
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341,Oslo
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118,Reykjavík
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298,Amsterdam
5,6,Switzerland,7.480,1.452,1.526,1.052,0.572,0.263,0.343,Bern
6,7,Sweden,7.343,1.387,1.487,1.009,0.574,0.267,0.373,Stockholm
7,8,New Zealand,7.307,1.303,1.557,1.026,0.585,0.330,0.380,Wellington
8,9,Canada,7.278,1.365,1.505,1.039,0.584,0.285,0.308,Ottawa
9,10,Austria,7.246,1.376,1.475,1.016,0.532,0.244,0.226,Vienna

In [3]:
Temps = []
capital = []
capital.append(Merge_df["capital"])

city = "London"
# Save config information
url = "http://history.openweathermap.org/data/2.5/history/city?"


# Build query URL
query_url = url + "q=" + city + "&appid=" + api_key 
weather_response = requests.get(query_url)
weather_json = weather_response.json()
weather_json

#print(requests.get(query_url))

{'cod': 401,
 'message': 'Invalid API key. Please see http://openweathermap.org/faq#error401 for more info.'}